
.App {
  background-color: #8F877EFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 18px;
  /*color: #61dafb;*/
}

